



// TYPEFACES --------------------------------------------------

@font-face {
    font-family: 'Monaco';
    src: url(../fonts/monaco.ttf)
}



// CORE --------------------------------------------------

* {
    font-size: 11px;
    -webkit-font-smoothing: antialiased;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #161616;
    color: #CCCCCC;
    font-family: 'Monaco';
    line-height: 1.5;
}





// MODULES  --------------------------------------------------

.header {
    display: flex;
    justify-content: space-between;
    padding: 4.091em;

    &__info {
        max-width: 46em;
    }

    &__commands {
        text-align: right;
    }
}

.terminal {

    background-color: #1f1f1f;
    padding: 1.2em 4.091em;
    flex-grow: 2;

    &__section {
        display: flex;
        justify-content: flex-end;
        width: 100%;


        &--history {
            display: flex;
            justify-content: space-between;
            background-color: #1f1f1f90;
            padding: 1.2em 4.091em 0.3em;
        }
        

        &-input {
            display: flex;
            flex: 1;
            margin-top: 0.273em;
        }

        &-graphic {
            max-width: 2.273em;
            display: flex;
            flex-wrap: wrap;
        }

        &-error {
            margin-top: 0.273em;
            margin-right: 2.273em;

            p {
                color: #CCCCCC;
            }
        }
    }
}

.landing-screen {
    width: 100vw;
    height: 100vh;
    background-color: #161616;
    color: #CCCCCC;
    z-index: 2;
    position: absolute;
    display: flex;
    justify-content: center;

    &__logo {
        width: 80%;
    }
}

.credit-screen {
    width: 100vw;
    height: 100vh;
    background-color: #161616;
    color: #CCCCCC;
    z-index: 2;
    position: absolute;
    display: flex;
    justify-content: center;

    &__img {
        width: 80%;
    }
}





// ELEMENTS --------------------------------------------------

.player-move-input {
    background: none;
    border: none;
    font-family: 'Monaco';
    margin-left: 0.909em;
}

p {
    color: #999899;
    margin-bottom: 1.364em;
}

h1 {
    margin-bottom: 0.78em;
    font-weight: 100;
}

li {
    list-style-type: none;
    font-weight: 100;
}

.cells {
    width: 6px;
    height: 6px;
}

.cell-column .cells:nth-child(2) {
    margin: 2px 0;
}

.cell-column-two {
    margin: 0 2px;
}

.scores {
    display: flex;
}




// HELPERS --------------------------------------------------

.d-block {
    display: block;
}

.d-none {
    display: none;
}

.mb10 {
    margin-bottom: 0.909em;
}

.colour-light {
    color: #CCCCCC;
}

.colour-dark {
    color: #7B7B7B;
}

.lh1 {
    line-height: 1;
}

.ml20 {
    margin-left: 20px;
}




// STATES --------------------------------------------------

  
.cell-fill-playerOne {
    border: 1px solid #CCCCCC;
    border-radius: 50%;
}
    
.cell-fill-playerTwo {
    background-color: #CCCCCC;
    border-radius: 50%;
}

.commands__btn, .home-btn {
    color: #CCCCCC;
    transition: color 300ms ease;
}

.commands__btn:hover, .home-btn:hover {
    cursor: pointer;
    color: #7B7B7B;
}

// #Layer_1-2 path {
//     display: none;
// }